@CHARSET "UTF-8";
/*用户注册*/
/* 最大的盒子 */
.registerMax{
	width: 1000px;
	height: auto;
	margin: 0px auto;
}

/* 中间左 */
.left{
	width: 259px;
	height: auto;
	float: left;
}



/* 左边的小列表 */
.verticalList{
	width: 258px;
	height: 296px;
	float: left;
	margin-top: 16px;
}

/* 第一个列表不margin */
.verticalList1{
	margin-top: 0px;
}


/* 中间右 */
.right{
	width: 741px;
	height: auto;
	float: left;
}

/* 用户注册 */
.reg{
	width: 736px;
	height: auto;
	margin-left: 10px;
	
}