@CHARSET "UTF-8";
/*文章内容*/
/* 最大的盒子 */
.textContentMax{
	width: 1000px;
	height: auto;
	margin: 0px auto;
}

/* 中间左 */
.left{
	width: 259px;
	height: auto;
	float: left;
}

/* 用户登录 */
.login{
	width: 259px;
	height: 250px;
	float: left;
}

/* 左边的小列表 */
.verticalList{
	width: 258px;
	height: 296px;
	float: left;
	margin-top: 16px;
}


/* 中间右 */
.right{
	width: 741px;
	height: auto;
	float: left;
}

/* 文章的信息 */
.workContent{
	width: 730px;
	height: auto;
	margin-left: 10px;
	
}