@charset "utf-8";

/*联系我们*/

/* 最大的 */
.indexContact{
	width: 732px;
	height: 134px;
}

/*标题*/
.indexShoppingTitle {
	width: 730px;
	height: 40px;
}

/*标题内容*/
.indexFrameTitleText {
	width: 100px;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
}

/*内容*/
.indexContactContent {
	width: 700px;
	height: 90px;
	line-height: 30px;
	padding-left: 30px;
}