@charset "utf-8";
/*发布商品*/

/*最大的盒子*/
.publishWorkMax{
	width: 788px;
	height: auto;
}

/*标题盒子*/
.publishWorkMaxTitle{
	width: 788px;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
}

/*标题文字*/
.publishWorkMaxTitleText{
	width: 100px;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
}

/*表格*/
.publishWorkTab{
	width: 788px;
	height: 120px;
	text-align: center;
	margin-bottom: 16px;
}

/*右边的单元格*/
.sheel5{
	width: 600px;
	text-align: left;
}

/*标题文本框*/
.titleInput input{
	width: 500px;
}

/*内容文本域*/
.textArea{
	width: 500px;
	height: 200px;
}

